biopython==1.86
chromadb==1.5.5
langchain==1.2.12
langchain-chroma==1.1.0
langchain-core==1.2.19
langchain-openai==1.1.11
langchain-text-splitters==1.1.1
openai==2.29.0
python-dotenv==1.2.2
requests==2.32.5
streamlit==1.55.0
tiktoken==0.12.0